<div ng-show="showList">
	<ul class="holo-list">
		<li ng-repeat="c in characters" class="charLine" ng-mousedown="onMouseDown(c)" ng-mouseup="onMouseUp(c)">
			<div ng-click="selectCharacter(c)">
				<span>{{c.name}}, {{c.race}}
					<span ng-repeat="class in c.classes">{{class.className}} {{class.levels}} </span>
				</span>
			</div>
		</li>
	</ul>
	<button type="button" ng-click="newCharacter()" class="holo-button">New Character</button>

	<div id="deleteConfirm" class="modal hide">
		<div>
			Delete this character?<br/>
			You will lose this information forever.
			<button type="button" ng-click="hideConfirmModal()" class="holo-button">No</button>
			<button type="button" ng-click="deleteCharacter()" class="holo-button">Yes</button>
		</div>
	</div>
</div>